body {
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 80%;
}
img {
	border: 0;
}
h1 {
	font-size: 150%;
	padding-left: 10px;
	border-left: 10px solid #888888;
}
h2 {
	font-size: 120%;
	padding-left: 10px;
	border-left: 10px solid #888888;
}
dl dt {
	margin-bottom: 0.2em;
}
dl dd {
	margin-left: 2em;
	margin-bottom: 0.5em;
}